:root {
  --primary: rgba(8, 7, 23, 0.85);
  --text: rgba(196, 214, 221, 0.9);
  --link: rgba(14, 84, 107, 0.898);
  --subheader: rgba(54, 134, 161, 0.898);
  --active: rgb(166, 16, 16);
  --box-shadow: 0 0 .5rem;
  --text-shadow: 0 0 .25rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
  color: var(--text);
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

/* typography */
h1, h2 {
  color: var(--subheader);
  text-shadow: var(--text-shadow) var(--link);
  padding-left: .15rem;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: .5rem;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: .25rem;
}

.description {
  padding-left: .5rem;
}

a, li {
  text-decoration: none;
  color: inherit;
  transition: 1s;
  cursor: pointer;
}

a:hover, li:hover {
  color: var(--link);
}

.series-link {
  font-weight: bolder;
}

.navActive {
  color: var(--active);
  text-shadow: var(--text-shadow) var(--active);
}

/* flow */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

#body {
  justify-content: space-between;
  height: 100vh;
}

#nav-links {
  list-style: none;
  justify-content: space-around;
}

.horizontal {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  padding: 1%;
}

/* horizontal scrollbar */
::-webkit-scrollbar {
  display: block;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  transition: 1s;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link);
}

/* box */
h1 {
  background-color: var(--primary);
  max-width: fit-content;
  border-radius: 0 1rem 0 0;
  padding: .15rem;
}

nav {
  background-color: var(--primary);
}

.first-run {
  max-height: 65vh;
  margin: .75%;
  box-shadow: var(--box-shadow) var(--primary);
}

footer {
  background: url('./assets/images/edwin-escobar-20200901-bluestrawberry-001.jpg');
  background-size: cover;
  text-shadow: var(--text-shadow) var(--primary);
}

#about {
  padding: 1%;
  background-color: rgba(8, 7, 23, 0.35);
}