:root {
  --primary: rgba(8, 7, 23, 0.85);
  --light: rgba(196, 214, 221, 0.9);
  --link: rgba(14, 84, 107, 0.9);
  --subheader: rgba(54, 134, 161, 0.9);
  --active: rgb(166, 16, 16);
  --box-shadow: 0 0 .5rem;
  --text-shadow: 0 0 .25rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
  color: var(--light);
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

/* typography */
h1, h2 {
  color: var(--subheader);
  text-shadow: var(--text-shadow) var(--link);
  padding-left: .15rem;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: .5rem;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: .25rem;
}

#about h2 {
  color: var(--subheader);
}
.description {
  padding-left: .5rem;
}

a, li {
  text-decoration: none;
  color: inherit;
  transition: 1s;
  cursor: pointer;
}

a:hover, li:hover {
  color: var(--link);
}

.series-link {
  font-weight: bolder;
}

.navActive {
  color: var(--active);
  text-shadow: var(--text-shadow) var(--active);
}



/* flow */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

#body {
  justify-content: space-between;
  height: 100vh;
}

#nav-links {
  list-style: none;
  justify-content: space-between;
  /* text-align: left; */
}

.horizontal {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

/* horizontal scrollbar */
::-webkit-scrollbar {
  background: linear-gradient(0.25turn, var(--primary), var(--subheader), var(--primary));
  display: block;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--link);
  border-radius: .25rem;
  box-shadow: var(--box-shadow) var(--link);
  transition: 2s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subheader);
  box-shadow: var(--box-shadow) var(--subheader);
}

/* box */
h1 {
  background-color: var(--primary);
  max-width: fit-content;
  border-radius: 0 1rem 0 0;
  padding: .15rem;
  box-shadow: .5rem 0 .5rem var(--primary);
}

nav {
  background-color: var(--primary);
  padding: .25rem .5rem;
  box-shadow: 0 -.5rem .5rem var(--primary);
}

main {
  height: 100%;
}

.gallery {
  background-color: var(--primary);
  height: 100%;
}

.series-wrapper {
  margin: 0 0 1vh 0;
  padding: .5%;
  background-color: var(--primary);

}

.run {
  max-height: 65vh;
  margin: .5rem;
  box-shadow: var(--box-shadow) var(--primary);
}

footer {
  background: url('./assets/images/volume-two/1.jpg');
  background-size: cover;
}

#about {
  padding: 1%;
  background-color: rgba(8, 7, 23, 0.7);
}