:root {
  --primary: rgba(8, 7, 23, 0.85);
  --text: rgba(196, 214, 221, 0.75);
  --link: rgba(14, 84, 107, 0.898);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
  color: var(--text);
  font-variant: small-caps;
}

#about {
  padding: 1%;
}

/* typography */
a {
  text-decoration: none;
  color: inherit;
  transition: 1s;
}

a:hover {
  color: var(--link);
}

/* flow */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

#nav-links {
  list-style: none;
  justify-content: space-around;
}